{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set new password" %}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%; border-radius: 1rem;">
    <h3 class="text-center mb-4">{% trans "Set new password" %}</h3>

    <form method="POST" action="" class="password_set">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="d-grid mt-3">
        <button class="btn btn-primary" type="submit" name="action" value="Set Password">
          {% trans "Change password" %}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}