{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <title>{% block title %}WeatherForeteller{% endblock title %}</title>
  <meta name="description" content="Clean and modern weather forecast interface">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  {% block css %}
  <link rel="stylesheet" href="{% static 'css/weather.css' %}">
  {% endblock %}
</head>

<body>
  <main>
    {% block content %}
    <p>Loading weather...</p>
    {% endblock content %}
  </main>

  {% block javascript %}
  {% endblock javascript %}
</body>

</html>